@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: Roboto, sans-serif;
    background-repeat: no-repeat;
    background-color: #fcf4cbdc;
}
.conteudo-pag{
    position: fixed;
    background-color: #fcf4cbdc;
    height: 85%;
    width: 80%;
    left: 10%;
    top: 8%;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.img img{
    position: relative;
    top: 20%;
    left: 52%;
    width: 20%;
    margin: 0;
}

.login{
    position: relative;
    top: 45%;
    right: 210%;
    margin: 0;
}

.pass{
    position: relative;
    top: 45%;
    right: 212.5%; 
    margin: 0;
}

button{
    position: relative;
    top: 45%;
    right: 165%; 
    margin: 0;
    cursor: pointer;
}

.back img{
    position: absolute;
    width: 7%;
    height: 6%;
}

input{
    border-radius: 5px;
}